In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
info_path = info_path = os.path.join('/opt/ml/input/data/eval', 'info.csv')
info = pd.read_csv(info_path)

In [3]:
info

                                            ImageID  ans
0      cbc5c6e168e63498590db46022617123f1fe1268.jpg    0
1      0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    0
2      b549040c49190cedc41327748aeb197c1670f14d.jpg    0
3      4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg    0
4      248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg    0
...                                             ...  ...
12595  d71d4570505d6af8f777690e63edfa8d85ea4476.jpg    0
12596  6cf1300e8e218716728d5820c0bab553306c2cfd.jpg    0
12597  8140edbba31c3a824e817e6d5fb95343199e2387.jpg    0
12598  030d439efe6fb5a7bafda45a393fc19f2bf57f54.jpg    0
12599  f1e0b9594ae9f72571f0a9dc67406ad41f2edab0.jpg    0

[12600 rows x 2 columns]

In [5]:
age_info = pd.read_csv('./output/age_cls/output.csv')
gen_info = pd.read_csv('./output/gen_cls/output.csv')
mask_info = pd.read_csv('./output/mask_cls/output.csv')
print(age_info.groupby(['ans']).count())
print(gen_info.groupby(['ans']).count())
print(mask_info.groupby(['ans']).count())

     ImageID
ans
0       7507
1       4644
2        449
     ImageID
ans
0       5050
1       7550
     ImageID
ans
0      12341
1         57
2        202

In [13]:
ans_agg = age_info['ans'] + gen_info['ans']*3 +  mask_info['ans']*6
ans_agg

0        5
1        0
2        2
3        2
4        0
        ..
12595    0
12596    0
12597    0
12598    0
12599    0
Name: ans, Length: 12600, dtype: int64

In [12]:
info['ans'] = ans_agg
info

                                            ImageID  ans
0      cbc5c6e168e63498590db46022617123f1fe1268.jpg    5
1      0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    0
2      b549040c49190cedc41327748aeb197c1670f14d.jpg    2
3      4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg    2
4      248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg    0
...                                             ...  ...
12595  d71d4570505d6af8f777690e63edfa8d85ea4476.jpg    0
12596  6cf1300e8e218716728d5820c0bab553306c2cfd.jpg    0
12597  8140edbba31c3a824e817e6d5fb95343199e2387.jpg    0
12598  030d439efe6fb5a7bafda45a393fc19f2bf57f54.jpg    0
12599  f1e0b9594ae9f72571f0a9dc67406ad41f2edab0.jpg    0

[12600 rows x 2 columns]

In [20]:
info.to_csv('./output/agg_cls/output.csv', index=False)